@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl tracking-wide;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 11px;

  color: rgba(255, 255, 255, 0.87);
  --clr-page-bg: hsl(235, 21%, 11%);
  --img-bg: url("./assets/bg-desktop-dark.jpg");
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

html, body {
  min-height: 100vh;
}

body {
  /*font: var(--fw-normal) var(--base-font) var(--ff-sans);*/
  background: var(--clr-page-bg) var(--img-bg) no-repeat 0 0 / 100vw 30rem;
  padding-top: 8rem;
  width: min(85%, 54rem);
  margin: auto;
}
